:root {
  --font-secondary: "Shrinkhand", Arial;
  --font-primary: "Roboto", Arial;
  --primary: "#9356DC";
  --secondary: "#FF79DA";
  --tertiary: "#99E2DO"; }

.myButton {
  background: linear-gradient(162deg, #ff79d9 0%, #9256dc 100%);
  border-radius: 28px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 14px 0;
  width: 22rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  margin: auto; }
  .myButton:hover {
    opacity: 0.9; }
