.card-icone-animation {
  color: rgba(255, 121, 217, 1);
  font-size: 3rem;
  position: absolute;
  top: 1.4rem;
  right: 1.9rem;
  opacity: 0;
  &:hover {
    opacity: 100;
    transition: all 0.5s ease;
  }
}
.card-catalog {
  opacity: 0;
  animation: fadein 2s forwards;
  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(1.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
}
