@import "mixin_queries";

// NAVIGATION

.header {
  background: white;
  display: flex;
  justify-content: center;
  height: 6rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
  .header-arrow {
    position: relative;
    top: 2.2rem;
    left: 2rem;
    i {
      color: rgba(0, 0, 0, 0.8);
      font-size: 2.2rem;
      @include desktop {
        margin-bottom: 5rem;
      }
    }
  }
  .header-logo {
    margin: auto;
    margin-top: 2.2rem;
  }
  .header-logo-image {
    width: 16rem;
  }
}

// FOOTER

.footer {
  @include desktop {
    margin-top: auto;
  }
  padding: 2rem;
  background: #333;
  img {
    filter: invert(100%);
    width: 10rem;
    height: 4rem;
    padding: 1rem 0;
  }
  ul {
    color: white;
    li {
      padding: 0.5rem 0;
      &:hover {
        color: #ff79d9;
      }
      .footer-fonta-1 {
        font-size: 1.2rem;
        margin-right: 1.1rem;
      }
      .footer-fonta-2 {
        font-size: 1rem;
        margin-right: 0.8rem;
      }
    }
  }
}

.footer-restaurant {
  @include phone {
    margin-top: 120rem;
  }
  @include tablet {
    margin-top: 120rem;
  }
}
